<span class="<%= ClickbaitGenerator.ClickbaitGeneratorView.button_class(@button_type, "listicle") %>"
      id="<%= @button_type %>"
      title="<%= humanize(@button_type) %>"
      data-icon="<%= ClickbaitGenerator.ClickbaitGeneratorView.button_icon(@button_type) %>">
    <%= humanize(@button_type) %>
</span>
