<div class="jumbotron clickbait_generator">
    <div class="clickbait--section">
        <h1 class="headline" id="headline_<%= @headline.id %>">
            <%= @headline.headline %>
        </h1>
        <div id="clickbait-buttons">
            <%= for button_type <- button_types() do %>
                <%= render("button.html", button_type: button_type) %>
            <% end %>
        </div>
        <p data-icon="⇗" class="headline--share--button button yellow sparkley button--clickbait">Share</p>
        <div id="headline--share--dialog" class="hidden modal">
            <p>Share this link:</p>
            <p>
                <a class="share--dialog--link" href="/">the link</a>
                <a class="copy-icon">📑</a>
            </p>
        </div>
    </div>
</div>
