<nav class="nav--desktop">
    <span class="nav--desktop--item"><a href="/">Home</a></span>
    <span class="nav--desktop--item"><a href="/clickbait_generator">Clickbait Generator</a></span>
    <span class="nav--desktop--item"><a href="/fill_in_the_bait">Fill In the Bait</a></span>
    <span class="nav--desktop--item"><a href="/bestof">Best of Clickbait</a></span>
    <span class="nav--desktop--item"><a href="/about">WAT</a></span>
</nav>
