.hidden{
  display: none;
}

.mobile--hidden {
  display: none;
  @media (min-width: $breakpoint-tablet) {
    display: initial;
  }
}

.center {
  text-align: center;
}

.button--bullet {
  padding: 2px 2px 2px 1px;
}

