
.button.button--clickbait {
  @include candy-button;
  font-weight: 700;
  margin: 28px;
  flex-basis: 0;
  flex-grow: 1;
  margin-top: 5px;
}

.button--clickbait:active {
  position: relative;
  top: 1px;
}

