.clickbait--section {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#clickbait-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button.button--clickbait {
  @include candy-button;
  text-align: center;
  padding: .7em .5em .5em .5em;
  font-size: 18px;
  &:before {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: initial;
    }
  }
  @media (min-width: $breakpoint-tablet) {
    font-size: 24px;
    padding: .5em 1.5em .3em 1.3em;
  }
}

.sparkley {
  transition: all 0.25s ease;
}

// this is the displayed headline
.headline {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 14px;

  &.got-headline {
    background: none;
  }

  @media (min-width: $breakpoint-tablet) {
    min-height: 160px;
    font-size: 40px;
  }
}

.button--clickbait.headline--share--button {
  @media (min-width: $breakpoint-tablet) {
    margin: 12px auto;
    padding: .75em .5em;
    width: fit-content;
  }
}

.blocker.current:before {
  @media (max-width: $breakpoint-tablet) {
    display: inline;
    margin: 22px 0;
  }
}

#headline--share--dialog {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-tablet) {
    width: fit-content;
  }
}

.share--dialog--title {
  font-size: larger;
  font-family: "Lobster", cursive;
}

.share--dialog--link {
  font-weight: bold;
  margin-right: 8px;
}

.copy-icon {
  border-radius: 6px;
  cursor: pointer;
}
