.fitbGame--Form {
  font-size: large;
  margin: 0 auto;
  @media (min-width: $breakpoint-tablet) {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
  }
}

button.fitbGame--Reload {
  @include candy-button;
}

.fitbGame--HasError {
  margin-top: 22px;
  height: fit-content;
  font-weight: bold;
  text-align: center;
  @media (min-width: $breakpoint-tablet) {
    text-align: left;
  }
}

.fitbGame__Blank--missing {
  border: 2px solid #ff00a1;
}

.fitbGame--Labels {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-tablet) {
    margin-top: 22px;
    display: table;
  }
}

.fitbGame--Label {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $breakpoint-tablet) {
    display: table-row;
    margin-bottom: 22px;
  }
}

.fitbGame--LabelText, .fitbGame--Blank {
  @media (min-width: $breakpoint-tablet) {
    margin-right: 12px;
    display: table-cell;
  }
}

.fitbGame--LabelText {
  font-weight: bold;
  @media (min-width: $breakpoint-tablet) {
    padding: 6px 12px;
    text-align: right;
  }
}

.fitbGame--Pointer {
  display: none;
  @media (min-width: $breakpoint-tablet) {
    display: revert;
    margin-right: 12px;
    font-size: x-large;
  }
}

.fitbGame--Blank {
  margin-top: .5em;
  padding: 4px;
  text-align: left;
  font-size: large;
  width: 200px;
  border-radius: 10px;
  border-color: transparent;
  @media (min-width: $breakpoint-tablet) {
    font-size: revert;
    width: 300px;
  }
}

button.fitbGame--Submit {
  display: block;
  margin: 0 auto 22px auto;
  @include candy-button;
  padding: 12px 52px;
  @media (min-width: $breakpoint-tablet) {
    margin: 22px auto;
  }
}
