.fitbGame--Form {
  font-size: large;
  margin: 40px auto;
}

button.fitbGame--Reload {
  @include candy-button;
}

.fitbGame--HasError {
  margin-top: 22px;
  height: fit-content;
  font-weight: bold;
}

.fitbGame__Blank--missing  {
  border: 2px solid #ff00a1;
}

.fitbGame--Labels {
  margin-top: 22px;
  display: table;
}

.fitbGame--Label {
  display: table-row;
  margin-bottom: 22px;
}

.fitbGame--LabelText,.fitbGame--Blank {
  margin-right: 12px;
  display: table-cell;
}

.fitbGame--LabelText {
  padding: 6px 12px;
  text-align: right;
}

.fitbGame--Pointer {
  margin-right: 12px;
  font-size: x-large;
}

.fitbGame--Blank {
  padding: 4px;
  text-align: left;
  width: 300px;
}

button.fitbGame--Submit {
  margin-top: 22px;
  @include candy-button;
  padding: 12px 52px;
}
