.fitbGame__Form {
  font-size: large;
  margin: 40px auto;
}

button.fitbGame__Reload {
  @include candy-button;
}

.fitbGame__HasError {
  margin-top: 22px;
  height: fit-content;
  font-weight: bold;
}

.fitbGame__Blank__missing  {
  border: 2px solid #ff00a1;
}

.fitbGame__Labels {
  margin-top: 22px;
  display: table;
}

.fitbGame__Label {
  display: table-row;
  margin-bottom: 22px;
}

.fitbGame__LabelText,.fitbGame__Blank {
  margin-right: 12px;
  display: table-cell;
}

.fitbGame__LabelText {
  padding: 6px 12px;
  text-align: right;
}

.fitbGame__Pointer {
  margin-right: 12px;
  font-size: x-large;
}

.fitbGame__Blank {
  padding: 4px;
  text-align: left;
  width: 300px;
}

button.fitbGame__Submit {
  margin-top: 22px;
  @include candy-button;
  padding: 12px 52px;
}
