@import 'variables';
@import 'mixins';
@import '_media_query';

nav {
  background-color: $bgcolor;
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  line-height: 2em;
}

.menu--mobile {
  color: $menu-linkcolor;
  display: flex;
  flex-direction: column;
  padding: .5em 1em;
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.menu--mobile--topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu--mobile--link a {
  color: $footerText;
}

.menu--mobile--title {
  font-size: 24px;
  font-weight: bold;
}

.menu--mobile--close {
  font-size: 52px;
  line-height: .5em;
}

.menu--mobile--hamburger {
  font-size: 24px;
  svg {
    fill: $menu-linkcolor;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: initial;
  }
}

.menu--mobile--nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.nav--desktop {
  display: none;
  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: flex-start;
    line-height: 1.75em;
    align-content: flex-start;
    font-size: 14px;
    padding: 0 32px;
  }
}

.nav--desktop--item {
  @media (min-width: $breakpoint-tablet) {
    margin: 12px 32px 0 0;
    padding: 4px 8px;
    &:hover, &:active {
      transition: background-color 300ms ease-out;
      border-radius: 4px 4px 0 0;
      background-color: $contrastcolor;
    }
  }
}

.nav--desktop--item a {
  color: $menu-linkcolor;
}

// TBD when hide/show is finshed
.nav--mobile--expanded {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.dark-mode {
  .xkxk--item {
    color: $contrastcolor;
  }
}

