$space-cadet: #2B2D42;
$middle-blue: #92DCE5;
$midnight-eagle: #185A63;
$cultured: #F8F7F9;
$corn: #F7EC59;
$citrine: #E9DA0C;

// palette 5
$mint-cream: #F7FFF7;
$jet: #343434;
// $space-cadet
$naples-yellow: #ffe66d;
$air-blue: #b9d3e1;

// desaturated palette 5
$baby-powder: f9fbf9;
$jet2: #555555;
$charcoal: #41424D;
$sage-beige: #c7c1a3;
$cadet-grey: #8c9aa1;

$lemon-meringue: #FAF0CA;
$floral-white: #FDFAEE;
// current favorite, fun but not overwhelming, friendly
// and like a classic little boy bedroom.
// Goes well with the candy buttons.
$bgcolor: $space-cadet;
$menu-linkcolor: $citrine;
$linkcolor: $jet2;
$contrastcolor: $air-blue;
$headercolor: $space-cadet;
$text-color: $jet2;
$footerText: $naples-yellow;
