// Place all the styles related to the Home controller here.
//  AND ALSO ALL SITEWIDE STUFF
@import 'variables';
@import 'mixins';

body {
  margin: 0;
  padding-top: 0;
  background: $bgcolor;
  font-family: "Montserrat", "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

.jumbotron {
  background: $contrastcolor;
  padding: .5em 1em;
  @media (min-width: $breakpoint-tablet) {
    padding: 30px;
  }
}

a {
  color: $linkcolor;
  &:hover,&:active {
    color: $text-color;
  }
}

h1,h2,h3 {
  color: $headercolor;
  text-align: center;
  line-height: 1.2em;
  margin: 0;
  @media (min-width: $breakpoint-tablet) {
    text-align: left;
    margin: .5em 0;
  }
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
  margin-top: .25em
}

h3 {
  font-size: 20px;
  margin-top: .25em;
}

main {
  padding: 0;
  background-color: $contrastcolor;
}

.container {
  padding: 22px;
}

.home--buttons {
  text-align: center;
  @media (min-width: $breakpoint-tablet) {
    text-align: left;
  }
}


footer {
  padding: 0 32px;
  color: $footerText;
}
